<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
    <form action="/post_url" method="post">
        {% csrf_token %}
        <h1>Counter</h1>
        <label name="c"  >{{request.session.count}}</label>
        <div class="twoButtons">
            <input type="submit" name="button" class="red" value="Add Two Visits" >
            <input type="submit" name="button" class="green" value="reset">

        </div>
    </form>
    
 
</body>
</html>
