div{
    width: 100%;
    display: flex;
    justify-content: row;
    margin:0 auto;
}

form{
    
    width:20%;
    padding: 2%;
    margin:2%;
    border:2px solid black;
}

#text_area{
    width:97%;
    height: 150px;
    /* margin:1%; */
}