<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheques Report</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <style>
      .footer-dark{
        background-color: black;
      }
      .whitetheme{
        color: white;
        font-family: cursive;
      }
      h2{
        padding: 0;
      margin: 0;
      outline: none;
      text-align: center;
      font-family: cursive;
      color: rgb(21, 20, 20);
      }
     </style>
</head>
<body >
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dania</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Files
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="cheque">Cheques</a></li>
                  <li><a class="dropdown-item" href="draft">Bills</a></li>
          
                </ul>
              </li>
            </ul>

       
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reports
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/display_cheque">Returned checks</a></li>
                  <li><a class="dropdown-item" href="display_draft">Bill reports </a></li>
             
          
                </ul>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/admin">Users</a></li>
                  <li><a class="dropdown-item" href="#">.....</a></li>
          
                </ul>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <form action="/logout" method="post" class="log_dash">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark"> LogOut</button>
              </form >
          
                </ul>
              </li>

              <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <form action="/home" method="post" class="log_dash">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark"> Home</button>
              </form >
          
                </ul>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <section>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Status..">
      
      <div id="content-to-pdf">
        <h2>Cheques Report <i class="fas fa-file"></i></h2>
        <br>
    <table class="table" id="myList">
        <tr>
          <th scope="col">Cheque Name</th>
          <th scope="col">Cheque Date</th>
          <th scope="col">Returned Date</th>
          <th scope="col">Cheque Number</th>
          <th scope="col">Cheque Price</th>
          <th scope="col">Bank Name - Branch Name</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        {% for cheque in cheques %}
        <tr>
          
            <td>{{cheque.chequename}}</td>
            <td>{{cheque.chequedate}}</td>
            <td>{{cheque.returneddate}}</td>
            <td>{{cheque.chequenumber}}</td>
            <td>{{cheque.chequeprice}}</td>
            <td>{{cheque.bankname}} - {{cheque.branchname}}</td>
            <td>{{cheque.chequestatus}}</td>
           
            <td>
          
                <form action="display_cheque/edit_my_cheque/{{cheque.id}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{cheque.id}}" >
                    <input type="submit" class="btn btn-dark " value="Update">
                </form>
            </td>
            <td>
                <form action="display_cheque/delete_from_db/{{cheque.id}}" method="post">
                    {% csrf_token %}
                       <input type="hidden" value="{{cheque.id}}">
                       <button type="submit" class="btn btn-dark "> Delete</button>
                       
                   </form>
            </td>
       
          </tr>
          {% endfor %}
 
      </table>
    </div>
      <!-- <a class="btn btn-dark" href="{% url 'download_pdf' %}" role="button">Download pdf</a> -->
   
    
    
    <button class="btn btn-outline-dark" onclick="Export2Doc('content-to-pdf');">Export as .doc</button>

  </section>
  <br>


  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="whitetheme">Services</h3>
                    <ul>
                        <li class="whitetheme" ><a class="whitetheme" href="#">Web design</a></li>
                        <li class="whitetheme"><a class="whitetheme" href="#">Development</a></li>
                        <li class="whitetheme"><a class="whitetheme" href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="whitetheme">About</h3>
                    <ul>
                        <li class="whitetheme" ><a class="whitetheme" href="#">Company</a></li>
                        <li class="whitetheme"><a class="whitetheme" href="#">Team</a></li>
                        <li class="whitetheme"><a class="whitetheme" href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3 class="whitetheme">Company Name</h3>
                    <p class="whitetheme">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                
            </div>
            <p class="whitetheme">Company Name © 2018</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    function Export2Doc(element, filename = ''){
        var html = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta><title>Export HTML To Doc</title></head><body>";
        var footer = "</body></html>";
        var html = html+document.getElementById(element).innerHTML+footer;
    
        
        //link url
        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
        
        //file name
        filename = filename?filename+'.doc':'cheques.doc';
        
        // Creates the  download link element dynamically
        var downloadLink = document.createElement("a");
    
        document.body.appendChild(downloadLink);
        
        //Link to the file
        downloadLink.href = url;
            
        //Setting up file name
        downloadLink.download = filename;
            
        //triggering the function
        downloadLink.click();
        //Remove the a tag after donwload starts.
        document.body.removeChild(downloadLink);
    }
    function myFunction() {
      console.log('helllo');
   // Declare variables 
    var input, filter, table, tr, td, i;
     input = document.getElementById("myInput");
     filter = input.value.toUpperCase();
     table = document.getElementById("myList");
     tr = table.getElementsByTagName("tr");

     // Loop through all table rows, and hide those who don't match the search query
     for (i = 0; i < tr.length; i++) {
       td = tr[i].getElementsByTagName("td")[6];
       if (td) {
         if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
           tr[i].style.display = "";
         } else {
             tr[i].style.display = "none";
           }
       } 
     }
 }
 
</script>
</body>
</html>