<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index and Restiration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <form action="/reg_log" method="post">
        {% csrf_token %}
    <h1>Registration</h1>
    <label>First Name :</label>
    <input type="text" name="first_name"><br>
    <label>Last Name :</label>
    <input type="text" name="last_name"><br>
    <label>Email :</label>
    <input type="text" name="email"><br>
    <label>Passward :</label>
    <input type="password"name="passward"><br>
    <label>Confirm PW :</label>
    <input type="password" name="confirm_password"><br>
    <input type="submit" value="Regiser">
    </form>

    <form action="/login" method="post">
        {% csrf_token %}
    <h1>Login </h1>
    <label>Email :</label>
    <input type="text" name="email_log"><br>
    <label>Passward :</label>
    <input type="password" name="Passward_log">
    <input type="submit" value="Log in">
    </form>
    {% if messages %}
    <ul >    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}


    
</body>
</html>